// IMPORTS
@import "./../../styles/variables.scss";

.container {
  background: $aqua;
  position: relative;
  z-index: 10;
  margin: 0 auto;
  opacity: 1;
}

.profiles {
  width: 100%;
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  // LAYOUT FOR PROFILES PAGE
  &.page {
    padding-top: calc(100px + #{$headerHeight});
  }

  &__content {
    margin: 0 1.5rem;
    width: 1000px;
    display: flex;
    flex-direction: column;

    &__title {
      color: $white;
      font-size: 2.5rem;
      display: flex;
      justify-content: center;
      letter-spacing: $letterSpacing;
      font-weight: 900;
      position: relative;
      margin-bottom: $spacing-xl;
      // PSEUDO ELEMENT
      &::after {
        content: "";
        position: absolute;
        display: inline;
        top: 15px;
        right: 0;
        width: calc(100% - 265px);
        height: 2px;
      }

      // ACCESS BREAKPOINT @mixin  - 3 x column layout when screen is lg
      @include breakpoint(sm-only) {
        font-size: 2rem;
      }
    }

    &__gallery {
      display: grid;
      grid-template-columns: 1fr;
      grid-auto-rows: 275px;
      gap: $spacing-md;
      margin-bottom: $spacing-xl;
      // ACCESS BREAKPOINT @mixin  - 2 x column layout when screen is sm
      @include breakpoint(sm) {
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 250px;
      }
      // ACCESS BREAKPOINT @mixin  - 3 x column layout when screen is lg
      @include breakpoint(lg) {
        grid-template-columns: repeat(3, 1fr);
      }

      .gallery__item {
        cursor: pointer;
        position: relative;
        border-radius: $borderRadius;
        border: 2px solid $white;
        transition: 0.3s ease all;
        box-shadow: $boxShadow;

        &:hover {
          box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25),
            0 1px 1px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.15),
            0 6px 6px rgba(0, 0, 0, 0.1), 0 10px 10px rgba(0, 0, 0, 0.05);

          .overlay {
            background: transparent;
          }
        }

        &__img {
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 75%;
          object-fit: cover;
        }
        .overlay {
          border-top-left-radius: $borderRadius;
          border-top-right-radius: $borderRadius;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 75%;
          background: rgba($dark, 0.4);
          transition: 0.3s ease all;
        }
        &__content {
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.7rem;
          color: $dark;
          height: 25%;
          background: $white;
          border-bottom-left-radius: $borderRadius;
          border-bottom-right-radius: $borderRadius;
        }
      }
    }

    &__viewmore {
      display: flex;
      justify-content: center;
      align-items: center;

      a {
        letter-spacing: $letterSpacing;
        padding: $spacing-sm $spacing-md;
        text-decoration: none;
        border-radius: $borderRadius;
        color: $white;
        transition: 0.3s ease all;
        display: flex;
        align-items: center;
        font-size: 1.1rem;

        svg {
          font-size: 1.2rem;
          margin-left: $spacing-sm;
          padding-top: 2px;
        }

        &:hover {
          background: rgba($dark, 0.05);
        }
      }
    }
  }
}
